
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .navigation-bar {
    background-color: #333;
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .section {
    padding: 20px;
  }
  
  .section-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .section-subtitle {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .section-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
  

  #overview {
    background-color: #f9f9f9;
  }
  
  #caracteristicas {
    background-color: #fff;
  }
  
  #cultivo {
    background-color: #f9f9f9;
  }
  
  #receitas {
    background-color: #fff;
  }
  
  
  @media (max-width: 768px) {
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  }
  